<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.AppIntroduction"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/appIntro" />

        <activity
            android:name=".activity.Login"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/mainActivityTheme" />

        <activity
            android:name=".activity.Search"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/mainActivityTheme"
            android:usesCleartextTraffic="true" />

        <activity
            android:name=".activity.SubmitDependency"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/mainActivityTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter android:label="Submit Dependency">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.Credits"
            android:exported="false"
            android:parentActivityName=".settings.Settings"
            android:theme="@style/mainActivityTheme" />

        <activity
            android:name=".settings.OpenSource"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:parentActivityName=".settings.Settings"
            android:theme="@style/mainActivityTheme" />

        <activity
            android:name=".settings.Settings"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/mainActivityTheme" />

        <activity
            android:name=".settings.WriteFeedback"
            android:exported="false"
            android:parentActivityName=".settings.Settings"
            android:theme="@style/mainActivityTheme" />
    </application>
</manifest>